html {
    height: 100%;
}

body {
    margin: 8px;
    min-height: calc(100% - 16px);
    display: grid;
    grid-template-rows: 1fr auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clock-div {
    font-family: sans-serif;
    color: #fff;
    display: block;
    font-weight: 100;
    text-align: center;
    font-size: 46px;
}

.numbers {
    font-size: 1em;
    color: black;
    padding: 15px;
    border-radius: 3px;
    background: inherit;
    display: inline-block;
}

.countdown-container {
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
}

.clock-label {
    padding-top: 5px;
    font-size: 0.5em;
    color: black;
}

.descriptor-div {
    font-family: sans-serif;
    color: black;
    display: block;
    text-align: center;
}

.descriptor {
    font-size: 1.75em;
    font-weight: lighter;
}